.SuccessTab {
  font-family: 'Nunito', sans-serif;
  color: black;
  background: #ffffff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  padding-bottom: 19px;
}

.SuccessTab__Title {
  font-size: 50px;
  text-align: center;
  color: chartreuse;
  text-shadow: 2px 2px black;
}


.SuccessTab__Text {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.modal-content p:not(:first-child) {
  margin: 1px 0;
}
.modal-content ul {
  margin: 0;
  padding-left: 5%;
}
.modal-content ul li {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#btn {
  margin-top: 20px !important;
  margin-right: 20px !important;
}